.header{
    color:#5097A4;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 25px;
}
p{
    font-size: 18px;
}
.logo {
    width: 100px;
    height: 100px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
ul{
    display: flex;
    gap: 2.5rem;
}
li{
    display: block;
    transition: .5s;
}
ul:hover li{
    filter: blur(5px);
}
ul li:hover{
    filter: blur(0px);
}

a:link {
    text-decoration: none;
    color: #A0C8C0; 
    font-family: 'Montserrat';

}
.style{
    color:#5097A4;
    font-family: 'Montserrat';
    font-weight: bold;
}
.textMail{
    font-size: 15px;
}
#mail{
    display:flex;
    gap: 10px;
    flex-wrap: wrap;
}
.main{
    align-items: stretch;
    width: 30%;
    justify-content: space-between;
    border-radius: 30px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 15px;
    color:#5097A4;
    padding: 10px;
    transition: .5s;
}
.main:hover{
    width: 30%;
    box-shadow: 10px 10px 20px #A0C8C0;
    border-radius: 30px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 15px;
    color:#5097A4;
    padding: 10px;
    transition: .5s;
}
span{
    font-weight: bolder;
    color:#5097A4;
}
.number{
    display:inline-block;
    text-align: center;
    color:#5097A4;
    font-family: 'Montserrat';
    gap:50px;
    padding: 10px;
}

#email{
    font-weight: bold;
    color:#5097A4
}
.order,
.contact-number,
.contact-email,
.delivery {
    border-radius: 40px;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    transition: .5s;
    position: relative;
    overflow: hidden;
}

.order::before,
.contact-number::before,
.contact-email::before
,.delivery::before {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 100%;
    width: 0;
    height: 100%;
    border-bottom: 1px solid #5097A4; 
    border-radius: 35px;
    transition: all .5s;
}

.order:hover::before,
.contact-number:hover::before,
.contact-email:hover::before,
.delivery:hover::before {
    left: 0;
    width: 100%;
}
.logo-mail{
    width:120px;
    margin: 0;
}
.menu-btn{
    display: none;
    cursor: pointer;
    color:white;
    border:none;
}
.nav-content{
    display: none;
    position: absolute;
}
@media screen and (max-width: 960px) {
    .main {
        width: 100%;
    }
    .main:hover{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .main {
        width: 100%;
    }
    .main:hover{
        width: 100%;
    }
    .nav-links {
        display: none;
        text-align: center;
    }
    .menu-btn {
        display: inline;
        background-color:#5097A4;
        color: white;
        padding: 10px;
        cursor: pointer;
        border: none;
        border-radius: 15px;
        width:100px;
    }
    .nav-content a {
        color: white;
        font-size: small;
        padding: 12px 16px;
        display: block;
        text-decoration: none;
    }
      
    .menu:hover .nav-content {
        z-index: 1;
        display: block;
        text-align: center;
        background-color: #5097A4;
        border: 1px solid #a0c8c0;
        border-radius: 15px;
        color: white;
      }
}